*.jar
.metadata

*/.metadata
sluncho/.classpath
sluncho/.project
sluncho/.settings*
sluncho/target
RemoteSystemsTempFiles/
sluncho/.recommenders/
sluncho/bin
.recommenders/
*.cfe
*.cfs
*.si
*.txt
*.hash
*.int
*.wcount
sluncho/fullTextIndex/*
sluncho/questionAnswerIndex/*
*/namedEntityIndex/*
sluncho/documents
